body {
	font-family: montserrat, arial, verdana;
    font-size: 20px;
    background-color: #f1f1f1;
}
form {
    width: 400px;
	margin: 100px auto;
	text-align: center;
	position: relative;
  }
  fieldset{
    background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	position: relative;
  }
  input{
    padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
  }
  button{
    width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
  }
  button:hover{
      box-shadow: 0 0 5px #27AE60;
  }
  .nota{
	position: absolute;
	font-size: 15px;
	width: 20%;
	bottom: 10px;
  }
